<!DOCTYPE html>
<html ng-app='animalShelter'>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="lib/angular.js"></script>
        <script src="app.js"></script>
        <script src="services/AnimalShelterFactory.js"></script>
        <script src="controllers/AnimalsCtrl.js"></script>
        <title>Animal Shelter</title>
    </head>
    <body>
        <div class='container'>
            <div ng-controller='AnimalsCtrl'>
                <div>
                    <h3>Add animals</h3>
                    <form ng-submit='addAnimal()' class='form-inline'>
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <input type="text" class="form-control" ng-model="animalName" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="type">Type: </label>
                            <select ng-model="animalType">
                                <option value='cat'>Cat</option>
                                <option value='dog'>Dog</option>
                                <option value='bird'>Bird</option>
                                <option value='rat'>Rat</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>


                <!-- <div ng-show='item in animals = (animals | filter:{adopted: false})'> -->
                <div ng-show="animals.length">
                    <div class="col-sm-6">
                    <h3>Animals in shelter:</h3>
                        <h4>Cats:</h4>
                        <li ng-repeat='item in animals | filter:{adopted: false, type: "cat"}'>{{item.name}} <a ng-click='adoptAnimal(item)'> - adopt me!</a></li>
                        <h4>Dogs:</h4>
                        <li ng-repeat='item in animals | filter:{adopted: false, type: "dog"}'>{{item.name}} <a ng-click='adoptAnimal(item)'> - adopt me!</a></li>
                        <h4>Birds:</h4>
                        <li ng-repeat='item in animals | filter:{adopted: false, type: "bird"}'>{{item.name}} <a ng-click='adoptAnimal(item)'> - adopt me!</a></li>
                        <h4>Rats:</h4>
                        <li ng-repeat='item in animals | filter:{adopted: false, type: "rat"}'>{{item.name}} <a ng-click='adoptAnimal(item)'> - adopt me!</a></li>
                    </div>
                    <div class="col-sm-6">
                        <h3>Recently adopted:</h3>
                        <h4>Cats:</h4>
                        <li ng-repeat='item in animals | filter:{adopted: true, type: "cat"}'>{{item.name}}</li>
                        <h4>Dogs:</h4>
                        <li ng-repeat='item in animals | filter:{adopted: true, type: "dog"}'>{{item.name}}</li>
                        <h4>Birds:</h4>
                        <li ng-repeat='item in animals | filter:{adopted: true, type: "bird"}'>{{item.name}}</li>
                        <h4>Rats:</h4>
                        <li ng-repeat='item in animals | filter:{adopted: true, type: "rat"}'>{{item.name}}</li>
                    </div>
                        <!-- <h4>Cat</h4>
                        <ul>
                            <li  ng-repeat='item in animals = (animals | filter:{type: cat})'>{{item.name}} <a ng-click='addAnimalsAdopted(item)'> - adopt</a></li>
                        </ul>

                        <h4>Dog</h4>
                        <ul>
                            <li  ng-repeat='item in animals = (animals | filter:{type: dog})'>{{item.name}} <a ng-click='addAnimalsAdopted(item)'> - adopt</a></li>
                        </ul>

                        <h4>Bird</h4>
                        <ul>
                            <li  ng-repeat='item in animals = (animals | filter:{type: bird})'>{{item.name}} <a ng-click='addAnimalsAdopted(item)'> - adopt</a></li>
                        </ul>
                    </div>

                    <h3>Adopted animals</h3>
                    <ul>
                        <li ng-repeat='item in animals = (animals | filter:{adopted: true})'>{{item.name}}</li>
                    </ul> -->

            </div>

        </div>
    </body>
</html>
